body {
    font-family: Arial;
    background: #f2f2f2;
}

.container {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input, textarea, select, button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.split {
    display: flex;
    gap: 20px;
}

.box {
    width: 50%;
    background: #fafafa;
    padding: 15px;
    border-radius: 8px;
}

.hidden {
    display: none;
}